<!DOCTYPE html>
<html lang="en">
<head class="clearfix">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>爱心中转站</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="apple-mobile-web-app-title" content="">
    <!--<link rel="stylesheet" type="text/css" href="./css/index.css">-->
</head>
<body>
    <!--<img src="../images/img1.jpg" alt="" srcset="">-->
    <div class="app" id="root">

    </div>
</body>
</html>